body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'calibri light';
	/* background: #ffff; */
	background: 
		linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)),
		url(/img/Wallpaper.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 30px;
}



/*HEADER PRACTICA*/
.header{

	background-color: rgba(5, 7, 12, 0.40);
	/* padding-top: 0.5rem;
	padding-bottom: 0.2rem;
	border-bottom: #0D4A6E; */
	box-sizing: border-box;
	width: 100%;
	position: fixed;top: 0;
	left: 0;
	/* display: block; */
}

.divContainer{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-right: 1rem;
	padding-left: 1rem;
	color: #FFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container{
	max-width: 100vh;
	max-height: 100vh;
}

.divContenido{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
}

.aComponent{
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 25px;
	text-decoration: none;
	box-sizing: border-box;
	cursor: default;
	color: #FFFF;
	font-weight: bolder;
}

.imgHeader{
	vertical-align: -0.125rem;
	fill: currentColor;
	margin-right: 0.5rem;
	box-sizing: border-box;
	width: 50;
	height: 50;
	overflow: hidden;
	cursor: default;
}

.ulComponent{
	font-size: 85%;
	margin-top: 0;
	margin-bottom: 0;
	justify-content: center;
}

.liComponent{
	box-sizing: border-box;
	display: list-item;
	text-align: center;
	list-style: none;
}

.aLi{
	align-items: center;
	margin-right: auto;
	padding: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	text-decoration: none;
	box-sizing: border-box;
	color: #FFFF;
	font-weight: bolder;
}

.ali:hover{
	background-color: antiquewhite;
	color: #0D4A6E;
	transition-duration: .3s;
	border-radius: 5px;

}

/*SideBar*/


/*Main*/
.mainPrincipal{
	/* background-color: #FFFF; */
	width: auto;
	height: 80vh;
}

.contMain{
	display: flex;
	justify-content: flex-start;
	margin-top: 4rem;
	height: 96%;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: #FFFF;

}

.ertLineMain{
	border-left: #ffff;
	height: 100%;
	left: 2rem;
	position: absolute;
}


/*Footer*/
.footer{
	/* background-color: rgba(51, 45, 45, 0), rgb(0, 0, 1); */
	/* background-color: #FFFF; */
	width: 100%;
	height: auto;
}

.containerFooterOne{
	/* background-color: #bdbdbd; */
	background-color: rgba(5, 7, 12, 0.40);
	padding-bottom: 0;
	padding: 1.15rem;
}

.sectionFooter{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contA{
	padding-right: 3rem;
	padding-left: 3rem;
}

.imgFooter{
	vertical-align: -0.125rem;
	fill: currentColor;
	box-sizing: border-box;
	width: 30;
	height: 30;
	overflow: hidden;
	cursor: pointer;
}
.containerFooterTwo{
	/* background-color: #a7a7a7; */
	background-color: rgba(5, 7, 12, 0.60);
	padding-bottom: 0;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;
	font-weight: bolder;
	font-size: 15px;
}